@font-face {
    font-family:DejavuSans;
    src: url(DejaVuSans.ttf);
  }

@font-face {
    font-family:Dejav_bold;
    src: url(DejaVuSans-Bold.ttf);
  }


body{
    margin: 0;
    font-family:DejavuSans;
    width: 100%;
}
h1{
    font-size: 24px;
    color: #000000;
    font-weight: 400;
}

p{
    font-size: 14px;
    color:gray;
    margin-bottom: 30px;
}
a{
    text-decoration: none;
}


section{
   
    height:600px;
}

.half_width{
    width:40%;
    float: left;
   
 
}


.half_width img{
    width:100%;
   
}

.header_content{
    padding-left: 18%;
    padding-top: 7%;

}

.name_heighlight{
    color:#ec4c7a ;
    font-weight:900;
    font-size:36px;
    font-family: Dejavu_bold;

}

.header p{
    margin-bottom: 30px;
}
.hire_me_button{
    padding: 8px 20px;
    background-image: linear-gradient(90deg,#ec4f91,#ec4c77);
    color: #ffffff;
    border-radius:2px;
    font-size: 13px;
}
.header {
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
 
}
.biography img{
    width:80%;
}


.biography{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size:100%;
    padding-left:10%;
    padding-top:5%;
    
}

.biography_content{
    padding-top: 10%;
    
}


.latest_work{
    padding:3%;
    height:400px;
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.latest_work img{
    width: 100%;
}
.latest_work h1{
    text-align: center;
}

.same_width{
    width:27%;
    float: left;
    padding:3%;
}

.Experience_area .half_width{
    padding-left: 5%;
    margin-left: 3%;
    height: 200px !important;
}

.Experience_area{
    height: 400px !important;
    padding-top: 30px;
    background-image: url(images/biography-bg.png);
    background-repeat:no-repeat;
    margin-top: 30px;
    background-size: cover;
}

.Experience_area h1{
    text-align: center;
    margin-bottom:4%;
}

.Experience_area h2{
   font-size: 20px;
}

.Experience_area h3{
    font-size: 17px;
    color: #ec4c7a;
 }
.single_Experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 90%;
    padding:10px;
    border-left:7px solid;
    border-image: linear-gradient(90deg,#ec4f91,#ec4c77);
    border-image-slice: 1;
}
.footer_background{
    text-align: center;
    height: 600px;
    margin-top: 8%;
    background-image: url(images/footer-bg.png);
    background-repeat:no-repeat;
    background-size: cover;

}
.footer_button a{
    background-image: ;
    background-color: lightcoral;
    padding: 20px;
}

footer span{
    font-size: 16px;
    color: black;
}

button{
    color: #ffffff !important;
    background-image: linear-gradient(90deg,#ec4f91,#ec4c77);
    padding:20px 80px;
    border: none;
    margin-top:7%;
}

button p{
    color: #ffffff;
    font-size: 15px;
}

button h1{
    color: #ffffff;
   
}

.copy_write{

 margin-top:50px;
 text-align: center;
}